.category-card {
    width: 100%;
}

.category-card:hover {
    cursor: pointer;
}

.category-box {
    background-color: var(--primary);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.category-box-left {
    display: flex;
    gap: 20px;
}
.category-box-left i {
    font-size: 30px;
    background-color: var(--second-cta-secondary);
    padding: 0 5px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-cta);
}

.category-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

.category-text h5 {
    font-weight: 400;
}

.category-text p {
    color: var(--light-grey);
}


@media (max-width: 768px) {
    
}