#priority ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.category-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: var(--cta);
    font-weight: 600;
    background-color: var(--cta-secondary);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    gap: 20px;
}

.category-label-active {
    background-color: var(--cta);
    color: var(--primary);
}

.category-label-num {
    height: 30px;
    width: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--cta);
}

.category-label-num-active {
    color: var(--primary-header);
}

@media (max-width: 768px) {
    #priority li {
        width: 100px;
    }
    
    .slide {
        width: 100px;
    }
    
    .position-one {
        transform: translateX(-100px);
    }
    
    .position-three {
        transform: translateX(100px);
    }
    
    .inactive-slider {
        width: 300px;
    }

    .category-label {
        gap: 5px;
    }

    .category-label-num {
        border: 1px solid #ecaf70;
        height: 20px;
        width: 20px;
        font-size: 10px;
    }
}