#priority ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.category-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: var(--cta);
    font-weight: 600;
    background-color: var(--cta-secondary);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    gap: 20px;
    box-shadow: var(--box-shadow);
}

.category-label-active {
    background-color: var(--cta);
    color: var(--primary);
}

.category-label-num {
    height: 30px;
    width: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--cta);
}

.category-label-num-active {
    color: var(--primary-header);
}

@media (max-width: 768px) {
    
    #priority li {
        max-width: 100px;
    }
    
    .category-label {
        width: fit-content;
        gap: 10px;
        padding: 10px;
    }

    .category-label-num {
        height: 20px;
        width: 20px;
        font-size: 10px;
    }
}