.todocard {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
    border-bottom: 1px solid var(--light-grey);
    justify-content: space-between;
}

.todocard-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.todocard button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--error);
    color: #fff;
}

.todocard button:hover {
    cursor: pointer;
}

.checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

.clicked {
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: #1adb7a;
}

.checkbox:hover {
   cursor: pointer;
}

.todo-text {
    font-size: 15px;
}

.complete {
    color: var(--grey);
    text-decoration: line-through;
}

.clicked:hover {
    cursor: pointer;
 }

 @media (max-width: 768px) {

    .todocard {
        gap: 15px;
    }

    .checkbox {
        height: 18px;
        width: 18px;
    }

    .clicked {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }

    .todo-text {
        font-size: 14px;
    }
 }