* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background: rgb(255,236,236);
    background: radial-gradient(circle, rgba(255,236,236,1) 0%, rgba(237,248,255,1) 89%);
}

li:hover {
    cursor: pointer;
}

a {
    text-decoration: inherit;
    color: inherit;
}

:root {
    --primary-bg: #ffffff;
    --primary-header: #262040;
    --secondary-header: #868394;
    --light-grey: rgb(230, 230, 230);
    --grey: rgb(165, 165, 165);
    --error: #fc5555;

    --primary: #fff;
    --cta: #5f33e1;
    --cta-secondary: #ede8ff;
    --error-bg: #ede8ff;
    --error-main: #f478b8;
    --text-main: #24252c;
    --second-cta: #ffe9e1;
    --second-cta-secondary: #ff936f;
    --text-grey: rgb(120, 120, 120);

    --button-padding: 10px 20px;
    --border-radius: 10px;
}

section {
    padding: 60px 80px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: clamp(2rem, 5.9vw, 2.5rem)
}

h2 {
    font-size: clamp(1.7rem, 4vw, 2.2rem)
}

h3 {
    font-size: clamp(1.5rem, 3.7vw, 2rem)
}

h4 {
    font-size: clamp(1.3rem, 3.4vw, 1.8rem)
}

h5 {
    font-size: clamp(1.1rem, 3vw, 1.6rem)
}

p {
    font-size: clamp(1rem, 2.8vw, 1.3rem)
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.category-button-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    left: 40px;
    z-index: 5;
    gap: 20px;
}   

.category-button-container button {
    background-color: var(--primary-header);
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    min-width: 50px;
}

.category-button-container button:hover {
    cursor: pointer;
}

.add-category:hover {
    cursor: pointer;
}

.add-todo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-header);
    font-size: 20px;
    padding: 25px 0;
    gap: 20px;
}

.add-todo input {
    font-size: 15px;
    color: var(--grey);
    border: none;
    padding: 5px;
    width: 100%;
}

.add-todo button {
    border: none;
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.add-todo:hover {
    cursor: pointer;
}

#todo h3 {
    font-weight: 400;
    color: grey;
    padding: 30px 0;
}

.todo-content {
    margin-top: 50px;
}

@media (max-width: 768px) {
    
    li {
        font-size: 13px;
    }

    section {
        padding: 30px;
    }

    .category-container {
        gap: 15px;
    }

    .add-category {
        font-size: 40px;
        bottom: 30px;
        left: 30px;
    }

    .add-todo {
        font-size: 18px;
        gap: 15px;
    }
    
    .add-todo p {
        font-size: 14px;
        color: var(--grey);
    }
    
    #todo h3 {
        padding: 25px 0;
        font-size: 17px;
    }
    
    .todo-content {
        margin-top: 30px;
    }

    .category-button-container {
        bottom: 30px;
        left: 30px;
        gap: 10px;
    }   
    
    .category-button-container button {
        min-width: 30px;
        font-size: 12px;
        padding: 10px;
    }
}